.app-wrapper {
  max-width: 1280px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "h h"
                       "n c";
  padding: 20px 100px 20px 100px;
  font-size: 30px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color:blueviolet;
}
